.awards {
    img {
        max-width: 20rem;
        margin: 1rem;
        border-radius: 1rem;
        box-shadow: 2px 2px 15px -5px $gray-600;

        &:hover {
            transform: scale(1.2,1.2);
            transition: ease-out .3s;
            border-radius: 0;
            
        }
    }
}